// Basics buttons (primary, secondary, error, warning, success, round, small, large)

.btn {
  border: none;
  @include rounded;
  outline: none;
  @include transition(
    background-color 0.25s ease-in,
    color 0.25s ease-in,
    border 0.25s ease-in
  );
  @include font(16px, bold, 16px);
  @include box-shadow;
  cursor: pointer;
  margin: 5px 10px;
  padding: 12px 18px;
  &:hover,
  &:active,
  &:focus {
    background-color: $grey-dark;
    color: $white;
  }
  &_primary {
    background-color: $white;
    font-weight: bold;
    color: $primary;
    border: 1px solid $primary;
    &:hover,
    &:active,
    &:focus {
      background-color: $primary;
      color: $white !important;
    }
  }
  &_secondary {
    background-color: $secondary;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $secondary-dark;
    }
  }
  &_error {
    background-color: $error;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $error-dark;
    }
  }
  &_warning {
    background-color: $warning;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $warning-dark;
    }
  }
  &_success {
    background-color: $success;
    color: $white;
    &:hover,
    &:active,
    &:focus {
      background-color: $success-dark;
    }
  }
  &_small {
    padding: 5px 10px;
  }
  &_large {
    padding: 15px 30px;
  }
  &_round {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    svg {
      fill: $white;
      height: 30px;
      width: 30px;
    }
  }
}

// Text buttons

.btn-text {
  @include font(18px, bold, 18px);
  outline: none;
  border: none;
  margin: 0 10px;
  padding: 10px;
  background-color: $transparent;
  cursor: pointer;
  color: $grey-dark;
  backface-visibility: hidden;
  @include transition(
    background-color 0.25s ease-in,
    color 0.25s ease-in,
    transform 0.25s ease-in
  );
  &:hover,
  &:active,
  &:focus {
    color: $secondary;
  }
  &_primary {
    color: $primary;
    transform: translateZ(0);
    &:hover,
    &:active,
    &:focus {
      color: $primary-dark;
      transform: scale(1.1);
    }
  }
  &_secondary {
    color: $secondary;
    &:hover,
    &:active,
    &:focus {
      color: $secondary-dark;
    }
  }
  &_error {
    color: $error;
    &:hover,
    &:active,
    &:focus {
      color: $error-dark;
    }
  }
  &_warning {
    color: $warning;
    &:hover,
    &:active,
    &:focus {
      color: $warning-dark;
    }
  }
  &_success {
    color: $success;
    &:hover,
    &:active,
    &:focus {
      color: $success-dark;
    }
  }
}

// Button with icon
.btn-text-icon {
  @include font(18px, bold, 18px);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  @include rounded;
  cursor: pointer;
  @include transition(
    background-color 0.25s ease-in,
    color 0.25s ease-in,
    transform 0.25s ease-in
  );
  &:hover,
  &:active,
  &:focus {
    background-color: $secondary-dark;
    svg {

    }
  }
  svg {
    fill: $white;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    @include transition(fill 0.3s ease);
  }
}
