$primary-dark: #ed2626;
$primary: #ff4f4f;
$primary-light: #ff7272;
$primary-light2: rgb(63, 63, 63);

$grey-light: #f4f3f2;
$grey-dark: #8d8786;
$grey-med: #d1cfcf;

$white: #ffffff;
$whitish: #f9f9f9;

$black: #302f2f;
$blackest: #121212;

$secondary: #1976d2;
$secondary-dark: #123d68;

$error: #ce665f;
$error-dark: #b44038;

$transparent: rgba(255, 255, 255, 0);

$success: #93c47d;
$success-dark: #448824;


$warning: #fae475;
$warning-dark: #b69d23;

