$primaryDark: #ed2626;
$primary: #ff4f4f;
$primaryLight: #ff7272;
$primaryLight2: rgb(63, 63, 63);

$greyLight: #f4f3f2;
$greyDark: #8d8786;
$greyMed: #d1cfcf;

$white: #ffffff;
$whitish: #f9f9f9;

$black: #302f2f;
$blackest: #121212;

$secondary: #fac63a;
$secondary-dark: #b18204;

$error: #ce665f;
$error-dark: #b44038;

$transparentColor: rgba(255, 255, 255, 0);

$success: #93c47d;

$warning: #fae475;

$transparentColor: rgba(255, 255, 255, 0);
