@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$heading-font: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-font: "Merriweather", "Source Serif Pro", Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1 {
    @include font(36px, bold, 40px);
    margin: 0;
}

h2 {
    @include font(50px, 900, 40px);
    margin: 0;
    text-transform: uppercase;
}

h3 {
    @include font(24px, 900, 30px);
    margin: 0;
    margin-bottom: 1rem;
}

h4 {
    @include font(18px, bold, 2rem);
    margin: 0;
}

h5 {
    @include font(16px, bold, 1.5rem);
    margin: 0;
}

h6 {
    @include font(12px, bold, 1.2rem);
    margin: 0;
}

p {
    @include font(20px, 400, 24px);
}